.accordion {
    position: absolute;
    text-align: center;
    width: 950px;
}

.title {
    margin-top: 40px;
    font-family: var(--font-plus-jakarta-sans);
    color: var(--color-gray-900);
    font-weight: 900;
    font-size: 1.7rem;
    margin-bottom: 40px;
    margin-top: 80px;
}

.accordionItem {
    border: none;
    padding: 10px 15px -2px;
}

.accordionItem button {
    font-weight: 400;
    border-top: 2.5px solid var(--color-gray-300);
    height: 70px;
    background: var(--color-gray-200);
}

@keyframes gira {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    to {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

.accordionItem button::after {
    display: inline-block;
    /* content: url("../public/caminho-5162.svg"); */
}

.accordionHeader {
    font-weight: 900;
}

.accordionItem:hover {
    border: none;
    color: var(--color-gray-900);
}

.accordionItem:hover button {
    font-weight: 700;
    background: var(--color-white);
    color: var(--color-yellow-100);
}

.accordionItem button:focus {
    font-weight: 700;
    background: var(--color-white);
    color: var(--color-yellow-100);
}

.accordionItem button:target {
    font-weight: 700;
    background: var(--color-white);
    color: var(--color-yellow-100);
}

.texto {
    text-align: start;
    font-size: 16px;
}

.ultimo {
    border-bottom: 2px solid var(--color-gray-300);
}